<h1> <%= @event.title %> </h1><br><br>
    <p>Written by User <%= @event.creator.username%></p><br>

    <p>Date: <%= @event.date%></p><br>
    <p>Location: <%= @event.location%></p><br>
    <p>Description: <%= @event.description%><br><br>
    

    <p>Attendees: </p>
    <% if @event.attendees.any? %>
    <% @event.attendees.each do |attendee| %>
    <ul>
    <%= link_to attendee.username,user_path(attendee) %>
    </ul>
    <% end %>
    <% else %>
    <p>nobody yet</p>
    <% end %>

    <%= button_to "Join", invitations_path(event_id: @event.id, attendee_id: current_user.id) %>
    
    <%= link_to "Events", root_path %>


